body
{
    text-align: center;
}

#app {
    background-color: aliceblue;
}

#myCarousel
{
    background:linear-gradient(#43cea2,#185a9d);
}

#top{
    background:linear-gradient(#c33764,#1d2671);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 250px;
    margin-top: 10px;
}
h1{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h5{
    color: darkslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

